<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="assets/favicon.png" id="favicon">
    <link rel="icon" href="assets/favicon-dark.png" id="favicon-dark">
</head>
<body>
  <h1>Webpack Boilerplate</h1>
</body>
</html>
