<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="assets/favicon.png" id="favicon">
    <link rel="icon" href="assets/favicon-dark.png" id="favicon-dark">
</head>
<body>
  <h1>Webpack Boilerplate</h1>
  
  <div class="drop-container" data-xt-drop>

    <button type="button" class="btn btn-md text-white links-inverse rounded-md bg-accent-500 hover:bg-accent-600 active:bg-accent-700">
      default
    </button>

    <div class="drop">
      <div class="drop-inner">
        <div class="w-64 py-3 text-black links-default rounded-md bg-white shadow-lg">
          <nav class="list flex-col">
            <a href="#" class="btn btn-sm px-6 w-full text-black links-default hover:text-opacity-75 active:text-opacity-75">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit
            </a>
            <button type="button" class="btn btn-sm px-6 w-full text-black links-default hover:text-opacity-75 active:text-opacity-75">
              Dolor sit
            </button>
            <button type="button" class="btn btn-sm px-6 w-full text-black links-default hover:text-opacity-75 active:text-opacity-75">
              Amet
            </button>
          </nav>
        </div>
      </div>
    </div>

  </div>

</body>
</html>
